@use '../../../ui-kit/styles/utility/typography/typography' as *;

ui-button {
  button {
    @include span-styles;

    border-radius: 12px;
    transition: color var(--default-transition), background-color var(--default-transition), border-color var(--default-transition), transform var(--default-transition);
    border: .1em solid transparent;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    &[data-type="secondary"] {
      color: var(--black-900);
      background-color: var(--white-1000);
      border-color: var(--black-100);

      &:enabled:hover, &:focus {
        background-color: var(--black-50);
        border-color: var(--black-100);
      }
    }

    &[data-type="primary"] {
      @include weight-medium;
      color: var(--blue-50);
      background-color: var(--blue-550);

      &:enabled:hover, &:focus {
        color: var(--blue-100);
        background-color: var(--blue-650);
        border-color: var(--blue-550);
      }
    }

    &[data-size="sm"] {
      @include span-small;

      padding: 8px 12px 8px 12px;
    }

    &[data-size="md"] {
      @include span-normal;

      padding: 12px 16px 12px 16px;
    }

    &[data-size="lg"] {
      @include span-big;

      padding: 15px 20px 15px 20px;
    }

    &:active:enabled {
      transform: scale(.95);
    }

    &:disabled {
      background-color: var(--black-200);
      color: var(--black-400);

      &:hover {
        cursor: default;
      }
    }
  }
}