@use "./grid" as *;
@use "../breakpoints" as *;

@layer grid {

  .container, .container-fluid {
    @include container;
  }

  .container {
    @include container-paddings;

    &-fluid {
      @include container-fluid-paddings;
    }
  }

  .row {
    @include row;
  }

  @include min-breakpoint(xl) {
    @include generate-columns(xl);

    .col-xl {
      @include column-grow(xl)
    }
  }

  $breakpoints: map-keys($grid-breakpoints);
  $length: length($breakpoints);

  @for $i from 1 through $length {
    $min: if($i == $length, null, nth($breakpoints, $i + 1));
    $max: nth($breakpoints, $i);

    @include min-max-breakpoint($min, $max) {
      @include generate-columns($max);

      @include up-breakpoint($max) {
        .col-#{$max} {
          @include column-grow($max);
        }
      }
    }
  }
}