<div class="flex h-100 w-100 flex-column align-items-center justify-content-center" style="padding-top: var(--desktop-header-height)">
  <h2>Личный кабинет</h2>

  <div class="flex flex-column p-24 rounded-12 bg-white-1000 st-xs">
    <div class="flex align-items-center gap-16">
      <div class="flex-grow-1 flex align-items-center">
        <img
          src="assets/images/blank_user.jpg"
          alt="Avatar"
          class="user-avatar"
        >
      </div>

      <div class="flex flex-column">
        <h6>
          Имя: <br>
          <span class="span-normal">Имя</span>
        </h6>

        <h6 class="st-xs">
          Почта: <br>
          <span class="span-normal">Почта</span>
        </h6>

        <h6 class="st-xs">
          Номер телефона: <br>
          <span class="span-normal">Номер</span>
        </h6>
      </div>
    </div>

    <ui-button
      size="lg"
      class="st-xs"
    >
      Редактировать
    </ui-button>
  </div>
</div>
